/* div, ul, li {
  display: flex;
} */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery img {
    max-width: 300px;
    margin: 10px;
    /* object-fit:contain; */
    border-radius: 15px;
  }
  
  @media (max-width: 768px) {
    .gallery img {
      max-width: 200px;
    }
  }